.text {
   border: 4px  solid brown;
    background-color: rgb(145, 180, 246);
    text-align: center;
    border-radius: 200px;
}
.name{
    color: darkgreen;
}
.title{
    color: darkgreen;
    background-color: yellow;
    text-align: center;
}
.jonat{
    background-color: rgb(57, 139, 232);
    width: 200px;
    height: 50px;
    color: white;
}
.color{
    background-color: black
}
.text2{
    color: white ;
}