.form{
    height: 800px;
    width: 1000px;
   border: 20px solid rgb(129, 80, 129);
   text-align: center;
   align-content: center;
   margin: 0 auto; 
   background-color: white;
  
}
.form input{
   height: 3%;
    width: 200px;
    background-color: rgb(216, 233, 240);
}
.form label{
    width: 1%;
}
.form button{
width: 200px;
background-color:indigo;
color: white;
}
.body{
  background-color: indigo;
}
